<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>隐私总开关</string>
	<key>CFBundleExecutable</key>
	<string>PrivacyManager</string>
	<key>CFBundleIdentifier</key>
	<string>com.ntm.privacymanager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PrivacyManager</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.17</string>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>NSPrincipalClass</key>
	<string>PMPrincipalController</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>PrivacyManager@2x</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>14.0</string>
</dict>
</plist>
